<div ng-show="showFilters" id="filters" class="ui segment">
    <form id="filter-form">
        <!--<div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            &lt;!&ndash;<input type="text" class="form-control"
            placeholder="Найти по наименованию" aria-describedby="basic-addon1"&ndash;&gt;
            &lt;!&ndash;ng-model="productProperties.name">&ndash;&gt;
        </div>-->

        <div class="ui icon input" style="width: 100%;">
            <input type="text" placeholder="Найти по наименованию" ng-model="productProperties.name">
            <i class="circular search link icon"></i>
        </div>

        <div class="filters-group" ng-repeat="names in chunkedProperties">
            <div class="input-container-label" ng-repeat="name in names">
                <label>{{name}}</label>
                <ui-slider class="ui-slider-default" step="0.01"
                           min="{{limitProductProperties.sliderProperties[name].min}}"
                           max="{{limitProductProperties.sliderProperties[name].max}}">
                    <ui-slider-range start='{{productProperties.sliderProperties[name].min}}'
                                     end='{{productProperties.sliderProperties[name].max}}'></ui-slider-range>
                    <ui-slider-thumb step="0.01" ng-model='productProperties.sliderProperties[name].min'
                                     max='{{productProperties.sliderProperties[name].max}}'></ui-slider-thumb>
                    <ui-slider-thumb step="0.01" ng-model='productProperties.sliderProperties[name].max'
                                     min='{{productProperties.sliderProperties[name].min}}'></ui-slider-thumb>
                </ui-slider>
                <div class="product-property-values">
                    <div>от</div>
                    <div class="input">
                        <input class="param" ng-model="productProperties.sliderProperties[name].min" step="0.01"
                               type="number" min="{{limitProductProperties.sliderProperties[name].min}}"
                               max="{{limitProductProperties.sliderProperties[name].max}}">
                    </div>
                    <div>до</div>
                    <div class="input">
                        <input class="param" ng-model="productProperties.sliderProperties[name].max" step="0.01"
                               type="number" min="{{limitProductProperties.sliderProperties[name].min}}"
                               max="{{limitProductProperties.sliderProperties[name].max}}">
                    </div>
                    <div>л/мин</div>
                </div>
            </div>
        </div>
    </form>

    <div class="filter-actions" style="height: 30px; margin-top: 35px; width: 100%; display: table;">
        <div style="display: table-cell; vertical-align: middle;">
            <a id="show-additional-parameters">Дополнительные параметры</a>
        </div>

        <div style="display: table-cell;">
            <a class="btn btn-default" ng-click="applyFiltersAndSort()" style="float: right; margin-left: 10px;">Применить</a>
            <a class="btn btn-default" ng-click="clearFilters()" style="float: right;">Сбросить фильтры</a>
        </div>
    </div>
</div>

<div id="products-display-manager" ng-show="showDisplayManager">
    <div class="panel panel-default">
        <div style="width: 100%;">
            <div class="products-sort"
                 style="display: flex; float: left; align-items: center; height: 50px; margin-left: 15px;">
                <span>Сортировать по</span>

                <div class="btn-group" style="margin-left: 15px;">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                        {{defaultSortType.label}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="sortType in sortTypes track by $index">
                            <a ng-click="changeSortType($index)" href="javascript:void(0)">{{sortType.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div style="float: right;">
                <span style="margin-right: 15px;">Вид каталога</span>

                <div class="btn-group" role="group">
                    <button type="button" ng-click="changeViewType(0)"
                            class="btn btn-default glyphicon glyphicon-th view-type -left"
                            ng-class="{'-selected': viewType == 'grid'}"></button>
                    <button type="button" ng-click="changeViewType(1)"
                            class="btn btn-default glyphicon glyphicon-th-list view-type"
                            ng-class="{'-selected': viewType == 'extendedList'}"></button>
                    <button type="button" ng-click="changeViewType(2)"
                            class="btn btn-default glyphicon glyphicon-align-justify view-type -right"
                            ng-class="{'-selected': viewType == 'list'}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="products-pager" ng-show="showProductsPager">
    <div style="padding-bottom: 10px; border-bottom: 1px solid #ddd; display: table; width: 100%;">
        <div class="page" style="float: left;">
            <span>Товаров на странице</span>

            <ui-slider class="ui-slider-default" min="1" max="20" step="1"
                       style="margin-left: 5px; display: inline-block; vertical-align: -7px; width: 150px;">
                <ui-slider-thumb ng-model='perPage'></ui-slider-thumb>
            </ui-slider>

            <button class="btn btn-primary btn-sm" type="button" ng-click="applyFiltersAndSort()"
                    style="margin-left: 10px;">
                Применить <span class="badge">{{perPage}}</span>
            </button>
        </div>
        <!-- products.total_count > perPage -->
        <div id="products-pagination" ng-show="showProductsPagination" style="float: right; margin-top: 1px;">
            <pagination total-items="totalCount" ng-model="currentPage"
                        ng-change="changePageNumber()" items-per-page="perPageForPagination"
                        max-size="paginationMaxSize" class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="numPages"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</div>

<div id="loader" ng-show="showLoader">
    <div id="loader_1" class="loader">
    </div>
    <div id="loader_2" class="loader">
    </div>
    <div id="loader_3" class="loader">
    </div>
    <div id="loader_4" class="loader">
    </div>
    <div id="loader_5" class="loader">
    </div>
    <div id="loader_6" class="loader">
    </div>
    <div id="loader_7" class="loader">
    </div>
    <div id="loader_8" class="loader">
    </div>
</div>

<div id="products" class="row" ng-switch="viewType" ng-show="showProducts" data-hook
     style="margin-bottom: 100px; padding-left: 30px; padding-right: 30px;">
    <div ng-repeat="product in products.products" ng-switch-when="grid"
         class="product-list-item test -grid"
         data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div ng-include="'templates/catalog/item-grid.html'"></div>
    </div>
    <div ng-repeat="product in products.products" ng-switch-when="list" class="product-list-item -list"
         data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div ng-include="'templates/catalog/item-list.html'" style="display: table; width: 100%;"></div>
    </div>
    <div ng-repeat="product in products.products" ng-switch-default class="product-list-item -extendedList"
         data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div ng-include="'templates/catalog/item-extendedList.html'" class="panel panel-default product-item"></div>


    </div>
</div>

<div class="alert alert-danger products-error" ng-show="!showLoader && !showProducts">
    Товаров не найдено
</div>