<div class="panel-heading">
    <a itemprop="name" style="font-size: 18px;">
        {{product.name}}
    </a>

    <div class="product-stars">
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
</div>
<div class="panel-body text-center product-body" style="display: table;">
    <div class="product-gallery">
        <div class="product-gallery-item" ng-bind-html="product.images.small"></div>
    </div>
    <div class="product-desc">
        <div>
            {{product.description}}
        </div>
        <div ng-if="product.properties.length > 0" style="display: table; width: 100%; margin-top: 10px;">
            <div style="display: table-cell;">
                <div style="font-size: 14px;">Производительность:</div>
                <div style="font-size: 19px;">{{product.properties.performance}} л/мин</div>
            </div>
            <div style="display: table-cell;">
                <div style="font-size: 14px;">Давление:</div>
                <div style="font-size: 19px;">{{product.properties.pressure}} Бар</div>
            </div>
            <div style="display: table-cell;">
                <div style="font-size: 14px;">Мощность:</div>
                <div style="font-size: 19px;">{{product.properties.power}} кВт</div>
            </div>
        </div>
    </div>
    <div class="product-buy">
        <div class="product-price">
            {{product.display_price}}
        </div>
        <div class="product-status">Под заказ</div>
        <div class="product-links">
            <a href="#"><span class="glyphicon glyphicon-heart"></span><span
                    style="border-bottom: 1px dashed black; margin-left: 5px;">К сравнению</span></a>
            <br>
            <a href="#"><span class="glyphicon glyphicon-plus"></span><span
                    style="border-bottom: 1px dashed black; margin-left: 5px;">В закладки</span></a>
        </div>
        <div class="product-add-to-cart">
            <a href="javascript:void(0)" class="btn btn-default" ng-click="addToCart(product.variant_id)">
                <span class="glyphicon glyphicon-ok"></span> Купить
            </a>
        </div>
    </div>
</div>