<div style="display: table-cell; vertical-align: middle;">
    <div class="product-sku well" style="display: inline-block; padding: 5px 10px;">
        <span class="product-sku-label">Арт.</span>
        <span class="product-sku-value">{{product.sku}}</span>
    </div>
    <div class="product-name">
        {{product.name}}
    </div>
</div>
<div class="product-right-block" style="display: table-cell; float: right;">
    <div class="product-price" style="display: inline-block;">
        {{product.display_price}}
    </div>

    <a href="javascript:void(0)" class="product-add-to-cart btn btn-default"
       ng-click="addToCart(product.variant_id)">
        <span class="glyphicon glyphicon-ok"></span> Купить
    </a>

    <div class="product-links" style="display: inline-block;">
        <a href="#"><span class="glyphicon glyphicon-list-alt"></span><span
                style="border-bottom: 1px dashed black; margin-left: 5px;">К сравнению</span></a>
        <br>
        <a href="#"><span class="glyphicon glyphicon-plus"></span><span
                style="border-bottom: 1px dashed black; margin-left: 5px;">В закладки</span></a>
    </div>
</div>