<div style="height: 150px; overflow: hidden; width: 100%; display: flex; justify-content: center; background: azure;">
    <img ng-src="{{product.small_url}}"/>
</div>
<div class="product-name" style="background: #EA2D47; padding: 10px 15px;">
    <div style="text-align: center;">
        <a itemprop="name" style="font-size: 18px; font-weight: 400; color: white; text-decoration: none;">
            {{product.name}}
        </a>
    </div>

    <div style="display: table; margin-top: 30px; table-layout: fixed; width: 100%;">
        <div class="product-price" style="color: white; font-weight: 400; display: table-cell;">
            {{product.display_price}}
        </div>

        <div class="product-stars" style="display: table-cell; float: right; vertical-align: middle;">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
</div>
<div class="product-properties" ng-if="product.properties.length > 0">
    <div class="product-property">
        <div class="product-property-label">Производительность:</div>
        <div class="product-property-value">{{product.properties.performance}} л/мин</div>
    </div>
    <div class="product-property">
        <div style="font-size: 14px;">Давление:</div>
        <div class="product-property-value">{{product.properties.pressure}} Бар</div>
    </div>
    <div class="product-property">
        <div style="font-size: 14px;">Мощность:</div>
        <div class="product-property-value">{{product.properties.power}} кВт</div>
    </div>
</div>
<div class="product-actions" style="display: table; width: 100%;">
    <div class="product-links" style="display: table-cell; vertical-align: middle;">
        <a href="#"><span class="glyphicon glyphicon-heart"></span><span
                style="border-bottom: 1px dashed black; margin-left: 5px;">К сравнению</span></a>
        <a href="#" style="margin-left: 10px;"><span class="glyphicon glyphicon-plus"></span><span
                style="border-bottom: 1px dashed black; margin-left: 5px;">В закладки</span></a>
    </div>
    <div class="product-add-to-cart" style="display: table-cell; float: right; margin-top: 4px;">
        <a href="javascript:void(0)" class="btn btn-default" ng-click="addToCart(product.variand_id)"><span
                class="glyphicon glyphicon-ok"></span>
            Купить</a>
    </div>
</div>