<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>" ng-app="compressorApp"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>" ng-app="compressorApp"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>" ng-app="compressorApp"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>" ng-app="compressorApp"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>" ng-app="compressorApp"><!--<![endif]-->
<head data-hook="inside_head">
  <%= render partial: 'spree/shared/head' %>
  <script type="text/javascript">
      Compressor.constant('Env', <%= js_environment.to_json.html_safe %>);
  </script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

  <% if @user %>
      <script type="text/javascript">
          Compressor.startupData.User = <%= serialize(@user, Sprangular::LiteUserSerializer).html_safe %>;
      </script>
  <% end %>

  <% if @order %>
      <script type="text/javascript">
          Compressor.startupData.Order = <%= serialize(@order, Sprangular::OrderSerializer).html_safe %>;
      </script>
  <% end %>
</head>
<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body" ng-controller="CommonCtrl as common">
<%= render partial: 'spree/shared/google_analytics.js' %>
<%= render partial: 'spree/shared/header' %>

<div class="container">
  <div class="row" id="main" data-hook>
    <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

    <div id="content" class="<%= !content_for?(:sidebar) ? 'col-sm-12' : 'col-sm-8 col-md-9' %>" data-hook>
      <nav id="breadcrumbs" class="col-md-12">
        <ol class="breadcrumb">
          <li><span>test</span></li>
        </ol>
      </nav>

      <div ng-view style="padding-left: 15px;padding-right: 15px; margin-top: 56px;"></div>
    </div>

    <!--
    <div id="content" class="<%#= !content_for?(:sidebar) ? 'col-sm-12' : 'col-sm-8 col-md-9' %>" style="width: 854px;" data-hook>
      <%#= breadcrumbs(@taxon) %>

      <%#= flash_messages %>
      <%#= yield %>
    </div>
    -->

    <%= yield :templates %>
  </div>
</div>
</body>
</html>
