<div class="step" ng-class="{active: deliveryStep == 'address'}">
    <i class="truck icon"></i>

    <div class="content">
        <div class="title">Адрес доставки</div>
        <div class="description">Укажите адрес для определения условий.</div>
    </div>
</div>
<div class="step" ng-class="{active: deliveryStep == 'payment'}">
    <i class="payment icon"></i>

    <div class="content">
        <div class="title">Дата и тариф доставки</div>
        <div class="description">Выберите способ оплаты</div>
    </div>
</div>
<div class="disabled step" ng-class="{active: deliveryStep == 'confirmation'}">
    <i class="info icon"></i>

    <div class="content">
        <div class="title">Подтверждение заказа</div>
    </div>
</div>