<div ng-repeat="item in currentCart.items" class="panel panel-default product-item">
    <div class="panel-heading">
        <a itemprop="name" style="font-size: 18px;" class="ng-binding">
            {{item.variant.name}}
        </a>

        <div class="product-stars">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
    <div class="panel-body text-center product-body" style="display: table;">
        <div class="product-gallery">
            <div class="product-gallery-item ng-binding" ng-bind-html="product.images.small">
                <img src="/images/noimage/product.png" alt="Product">
            </div>
        </div>
        <div class="product-desc">
        </div>
        <div class="product-buy" style="margin-top: 10px; padding: 10px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span style="float: left;">Сумма:</span>
                    <span style="float: right;">{{item.price * item.quantity}} ₽</span>
                </div>
            </div>

            <!--<div class="product-price ng-binding" style="border: 1px solid black; padding: 5px; text-align: left;">-->
            <!-- -->
            <!--</div>-->
            <div style="margin-top: 10px;">
                <div style="text-align: left;">Количество:</div>
                <div class="input-group input-group-sm" style="margin-top: 5px;">
                    <span class="input-group-btn" ng-click="changeItemQuantity(item, -1)">
                        <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="number" name="quant[2]" class="form-control input-number" ng-model="item.quantity"
                           value="{{item.quantity}}"
                           ng-change="updateItemQuantity(item)"
                           min="1"
                           max="100"/>
                    <span class="input-group-btn" ng-click="changeItemQuantity(item, 1)">
                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="#/checkout">Перейти к оформлению заказа</a>
    </div>
</div>