<div ng-if="currentAccount.isLogged">
    <tabset>
        <tab heading="Static title">Static content</tab>
        <tab heading="test1">test1</tab>
        <tab heading="test2">test2</tab>
    </tabset>
</div>

<div ng-if="!currentAccount.isLogged">
    <tabset>
        <tab heading="Заказать доставку">
            <div ng-include="'templates/checkout/delivery/index.html'"></div>
        </tab>
        <tab heading="Забрать самостоятельно">
            <div style="margin-top: 20px;" ng-include="'templates/checkout/manual/index.html'"></div>
        </tab>
        <tab heading="Заказать почтовую доставку">
            <div ng-include="'templates/checkout/mail_service/index.html'"></div>
        </tab>
    </tabset>
</div>

