<h1>Контакты</h1>

<div id="contacts" style="width: 100%; border: 1px solid darkgray; padding: 10px;">
    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="display: table-row;">
            <div style="display: table-cell; padding: 10px;">
                <div>Адрес:</div>
                <div>г. Самара, ул. Набережная, д. 4А, оф. 99</div>
            </div>

            <div style="display: table-cell; padding: 10px;">
                <div>Телефон:</div>
                <div>+7 (977) 777-7777</div>
            </div>
        </div>

        <div style="display: table-row;">
            <div style="display: table-cell; padding: 10px;">
                <div>E-mail:</div>
                <div>compressor63@mail.ru</div>
            </div>
        </div>
    </div>

    <ya-map ya-zoom="8" ya-center="[37.64,55.76]"></ya-map>
</div>


