<ul style="padding-left: 0; list-style-type: none; margin-bottom: 0;">
    <li style="padding-bottom: 10px; padding-left: 10px; padding-right: 10px; text-align: center;">
        <a href="#/account/settings">Мои настройки</a>
    </li>
    <li style="padding-bottom: 10px; padding-left: 10px; padding-right: 10px;  text-align: center;">
        <a href="#/account/orders">Мои заказы</a>
    </li>
    <li style="border-bottom: 1px solid #ddd;"></li>
    <li style="padding-top: 10px; padding-left: 10px; padding-right: 10px;  text-align: center;">
        <a href="#">Выйти</a>
    </li>
</ul>

