<div ng-show="showFilters" id="filters" class="well">
  <form id="filter-form">
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Найти по наименованию" aria-describedby="basic-addon1" ng-model="productProperties.name">
    </div>

    <div class="filters-group" ng-repeat="names in chunkedProperties">
      <div class="input-container-label" ng-repeat="name in names">
        <label>{{name}}</label>
        <ui-slider class="ui-slider-default" step="0.01" min="{{limitProductProperties.sliderProperties[name].min}}" max="{{limitProductProperties.sliderProperties[name].max}}">
          <ui-slider-range start='{{productProperties.sliderProperties[name].min}}' end='{{productProperties.sliderProperties[name].max}}'></ui-slider-range>
          <ui-slider-thumb step="0.01" ng-model='productProperties.sliderProperties[name].min' max='{{productProperties.sliderProperties[name].max}}'></ui-slider-thumb>
          <ui-slider-thumb step="0.01" ng-model='productProperties.sliderProperties[name].max' min='{{productProperties.sliderProperties[name].min}}'></ui-slider-thumb>
        </ui-slider>
        <div class="product-property-values">
          <div>от</div>
          <div class="input">
            <input class="param" ng-model="productProperties.sliderProperties[name].min" step="0.01" type="number" min="{{limitProductProperties.sliderProperties[name].min}}" max="{{limitProductProperties.sliderProperties[name].max}}">
          </div>
          <div>до</div>
          <div class="input">
            <input class="param" ng-model="productProperties.sliderProperties[name].max" step="0.01" type="number" min="{{limitProductProperties.sliderProperties[name].min}}" max="{{limitProductProperties.sliderProperties[name].max}}">
          </div>
          <div>л/мин</div>
        </div>
      </div>
    </div>
  </form>

  <div class="filter-actions" style="height: 30px; margin-top: 35px; width: 100%; display: table;">
    <div style="display: table-cell; vertical-align: middle;">
      <a id="show-additional-parameters">Дополнительные параметры</a>
    </div>

    <div style="display: table-cell;">
      <a class="btn btn-default" ng-click="applyFiltersAndSort()" style="float: right; margin-left: 10px;">Применить</a>
      <a class="btn btn-default" ng-click="clearFilters()" style="float: right;">Сбросить фильтры</a>
    </div>
  </div>
</div>