<div ng-include="'templates/checkout/mail_service/steps.html'" class="ui steps"
     style="margin-top: 20px; width: 100%;">
</div>

<!--<div ng-if="deliveryStep == 'address'" ng-include="'templates/checkout/delivery/steps/address.html'"></div>-->
<!--<div ng-if="deliveryStep == 'payment'" ng-include="'templates/checkout/delivery/steps/payment.html'"></div>-->
<!--<div ng-if="deliveryStep == 'confirmation'" ng-include="'templates/checkout/delivery/steps/confirmation.html'"></div>-->