<div class="ui segment">
    <form class="ui form" name="delivery_address_form" novalidate>
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div class="ui attached field" style="display: table-cell; padding: 10px;">
                <label>Населенный пункт</label>

                <div ng-class="{'ui input error': !delivery_address_form.locality.$valid && delivery_address_form.locality.$touched}">
                    <input type="text" ng-model="delivery.address.locality" name="locality"
                           required=""/>
                </div>

                <ul ng-show="delivery_address_form.$submitted || delivery_address_form.locality.$touched"
                    style="padding-left: 25px; margin-top: 10px;">
                    <li style="color: #ff9389;" ng-show="delivery_address_form.locality.$error.required">
                        Населенный пункт должен быть заполнен.
                    </li>
                </ul>
            </div>


            <div class="field" style="display: table-cell; padding: 10px;">
                <label>Улица</label>
                <input type="text" ng-model="delivery.address.street" name="street" required=""/>

                <div ng-show="delivery_address_form.$submitted || delivery_address_form.street.$touched">
                    <div ng-show="delivery_address_form.street.$error.required">
                        Название улицы должно быть заполнено.
                    </div>
                </div>
            </div>
        </div>
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div class="field" style="display: table-cell; padding: 10px;">
                <label>Дом</label>
                <input type="text" ng-model="delivery.address.house" name="house" required=""/>

                <div ng-show="delivery_address_form.$submitted || delivery_address_form.house.$touched">
                    <div ng-show="delivery_address_form.house.$error.required">Номер дома должен быть заполнен.</div>
                </div>
            </div>
            <div class="field" style="display: table-cell; padding: 10px;">
                <label>Квартира</label>
                <input type="text" ng-model="delivery.address.flat" name="flat" required=""/>

                <div ng-show="delivery_address_form.$submitted || delivery_address_form.flat.$touched">
                    <div ng-show="delivery_address_form.flat.$error.required">
                        Номер квартиры должен быть заполнен.
                    </div>
                    <div ng-show="delivery_address_form.flat.$error.number">
                        Номер квартиры должен быть числом.
                    </div>
                </div>
            </div>
            <div class="field" style="display: table-cell; padding: 10px;">
                <label>Индекс</label>
                <input type="number" ng-model="delivery.address.index" name="index" required=""/>

                <div ng-show="delivery_address_form.$submitted || delivery_address_form.index.$touched">
                    <div ng-show="delivery_address_form.index.$error.required">Индекс должен быть заполнен.</div>
                    <div ng-show="delivery_address_form.index.$error.number">Индекс должен быть числом.</div>
                </div>
            </div>
        </div>

        <div class="form-actions" style="display: flex; justify-content: flex-end;">
            <button class="ui button" style="margin-right: 10px; margin-top: 10px;" ng-click="clearFields('address')">
                Сбросить данные
            </button>
            <button class="ui button" style="margin-right: 10px; margin-top: 10px;" ng-click="nextStep()">
                Продолжить
            </button>
        </div>
    </form>
</div>