<div class="ui segment">

    <form name="delivery_user_form" class="ui form" novalidate>
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div class="field" style="display: table-cell; padding: 10px;">
                <label>Имя</label>
                <input type="text" ng-model="delivery.user.name" name="name" required=""/>

                <div ng-show="delivery_user_form.$submitted || delivery_user_form.name.$touched">
                    <div ng-show="delivery_user_form.name.$error.required">Tell us your name.</div>
                </div>
            </div>
            <div class="field" style="display: table-cell; padding: 10px;">
                <label>Фамилия</label>
                <input type="text" ng-model="delivery.user.surname" name="surname" required=""/>

                <div ng-show="delivery_user_form.$submitted || delivery_user_form.surname.$touched">
                    <div ng-show="delivery_user_form.surname.$error.required">Tell us your name.</div>
                </div>
            </div>
        </div>
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div class="field" style="display: table-cell; padding: 10px;">
                <label>Телефон</label>
                <input type="tel" ng-model="delivery.user.phone" name="phone" required=""/>

                <div ng-show="delivery_user_form.$submitted || delivery_user_form.uName.$touched">
                    <div ng-show="delivery_user_form.phone.$error.required">Tell us your name.</div>
                </div>
            </div>
            <div class="field" style="display: table-cell; padding: 10px;">
                <label>E-mail</label>
                <input type="email" ng-model="delivery.user.email" name="email" required=""/>

                <div ng-show="delivery_user_form.$submitted || delivery_user_form.email.$touched">
                    <div ng-show="delivery_user_form.email.$error.required">E-mail должен быть заполнен.</div>
                    <span ng-show="delivery_user_form.email.$error.email">E-mail не прошел валидацию.</span>
                </div>
            </div>
        </div>

        <button class="ui button" style="margin-right: 10px; margin-top: 10px;">
            Продолжить
        </button>
    </form>
</div>
<!--

<form class="ui form" name="form" novalidate>
    <div style="display: table; table-layout: fixed; width: 100%;">
        <div class="field" style="display: table-cell; padding: 10px;">
            <label>Имя</label>
            <input type="email" ng-model="name" name="uMail" required=""/>

            <div>
                <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
            </div>
        </div>
        <div class="field" style="display: table-cell; padding: 10px;">
            <label>Фамилия</label>
            <input type="text" ng-model="delivery.user.surname" required=""/>
        </div>
    </div>
    <div style="display: table; table-layout: fixed; width: 100%;">
        <div class="field" style="display: table-cell; padding: 10px;">
            <label>Телефон</label>
            <input type="number" ng-model="delivery.user.phone" required=""/>
        </div>
        <div class="field" style="display: table-cell; padding: 10px;">
            <label>E-mail</label>
            <input type="number" ng-model="delivery.user.email"/>
        </div>
    </div>

    <button class="ui button" style="margin-right: 10px; margin-top: 10px;" ng-click="nextStep()">
        Продолжить
    </button>
    <button class="ui button" style="margin-right: 10px; margin-top: 10px;">Сбросить данные</button>
</form>-->
