<div class="ui segment">
    <div class="ui form">
        <div class="grouped fields">
            <div class="field">
                <div class="ui radio checkbox" ng-click="checkPaymentType('cash')">
                    <input type="radio" checked="checked" name="test2" ng-checked="delivery.payment.type == 'cash'">
                    <label>
                        <div class="content">
                            <div class="title">Наличный расчет</div>
                            <div class="description">Вы сможете оплатить заказ наличными сотруднику Службы доставки при
                                получении.
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox" ng-click="checkPaymentType('credit_card')">
                    <input type="radio" name="test2" ng-checked="delivery.payment.type == 'credit_card'">
                    <label>
                        <div class="content">
                            <div class="title">Оплата Банковской картой при получении заказа</div>
                            <div class="description">
                                Мы принимаем платежи по банковским картам Visa, Visa Electron,
                                MasterCard, MasterCard Electronic, American Express. Оплата банковской карточкой
                                производится посредством мобильного банковского терминала при получении заказа.
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox" ng-click="checkPaymentType('credit_card_online')">
                    <input type="radio" name="test2" ng-checked="delivery.payment.type == 'credit_card_online'">
                    <label>
                        <div class="content">
                            <div class="title">Оплата Банковской картой при получении заказа</div>
                            <div class="description">
                                Мы принимаем платежи по банковским картам Visa, Visa Electron,
                                MasterCard, MasterCard Electronic, American Express. Оплата банковской карточкой
                                производится посредством мобильного банковского терминала при получении заказа.
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <!--<div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" ng-model="delivery.payment.type"
                           ng-click="checkPaymentType()">

                    <label>
                        <div class="content">
                            <div class="title">Наличный расчет</div>
                            <div class="description">Вы сможете оплатить заказ наличными сотруднику Службы доставки при
                                получении.
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" ng-model="delivery.payment.type" ng-click="checkPaymentType()">

                    <label>
                        <div class="content">
                            <div class="title">Оплата Банковской картой при получении заказа</div>
                            <div class="description">
                                Мы принимаем платежи по банковским картам Visa, Visa Electron,
                                MasterCard, MasterCard Electronic, American Express. Оплата банковской карточкой
                                производится посредством мобильного банковского терминала при получении заказа.
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" ng-model="delivery.payment.type" ng-click="checkPaymentType()">

                    <label>
                        <div class="content">
                            <div class="title">Онлайн-оплата банковской картой</div>
                            <div class="description">
                                Мы принимаем платежи по банковским каОплата заказа онлайн через платежную систему банка
                                «Альфа Банк». К оплате принимаются карты Visa, MasterCard.
                            </div>
                        </div>
                    </label>
                </div>
            </div>-->

            <!-- <div class="field">
                 <div class="ui radio checkbox">
                     <input type="radio" name="fruit" tabindex="0" class="hidden" ng-model="delivery.payment.type"
                            value="cash">

                     <label>
                         <div class="content">
                             <div class="title">Наличный расчет</div>
                             <div class="description">Вы сможете оплатить заказ наличными сотруднику Службы доставки при
                                 получении.
                             </div>
                         </div>
                     </label>
                 </div>
             </div>
             <div class="field">
                 <div class="ui radio checkbox">
                     <input type="radio" name="fruit" tabindex="0" class="hidden" ng-model="delivery.payment.type"
                            value="credit_card">

                     <label>
                         <div class="content">
                             <div class="title">Оплата Банковской картой при получении заказа</div>
                             <div class="description">
                                 Мы принимаем платежи по банковским картам Visa, Visa Electron,
                                 MasterCard, MasterCard Electronic, American Express. Оплата банковской карточкой
                                 производится посредством мобильного банковского терминала при получении заказа.
                             </div>
                         </div>
                     </label>
                 </div>
             </div>
             <div class="field">
                 <div class="ui radio checkbox">
                     <input type="radio" name="fruit" tabindex="0" class="hidden" ng-model="delivery.payment.type"
                            value="credit_card_online">

                     <label>
                         <div class="content">
                             <div class="title">Онлайн-оплата банковской картой</div>
                             <div class="description">
                                 Мы принимаем платежи по банковским каОплата заказа онлайн через платежную систему банка
                                 «Альфа Банк». К оплате принимаются карты Visa, MasterCard.
                             </div>
                         </div>
                     </label>
                 </div>
             </div>-->
        </div>
    </div>
    <button class="ui button" style="margin-right: 10px; margin-top: 10px;" ng-click="nextStep()">
        Продолжить
    </button>
</div>
<div>{{delivery.payment.type}}</div>