<div data-hook="admin_property_form" class="row">
  <div class="col-md-6">
    <%= f.field_container :name, class: ['form-group'] do %>
        <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
        <%= f.text_field :name, :class => 'form-control' %>
        <%= f.error_message_on :name %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= f.field_container :presentation, class: ['form-group'] do %>
        <%= f.label :presentation, Spree.t(:presentation) %> <span class="required">*</span>
        <%= f.text_field :presentation, :class => 'form-control' %>
        <%= f.error_message_on :presentation %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= f.field_container :data_type, class: ['form-group'] do %>
        <%= f.label :data_type, Spree.t(:data_type) %>
        <%= f.select(:data_type, Spree::Property.default_data_types, { include_blank: true }, { class: 'form-control' }) %>
        <%= f.error_message_on :data_type %>
    <% end %>
  </div>
</div>
