<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <div style="display: inline-block; margin-left: 15px;">
          <img src="/images/compressor.svg" style="width: 50px;"/>

          <div style="display: inline; font-size: 18px; font-weight: 500; margin-left: 10px;">Compressor63</div>
        </div>

        <div style="display: inline-block; margin-left: 100px; vertical-align: middle; color: white;;">
          <div>
            <span>Телефон:</span><span style="margin-left: 5px;">+7 (927) 777-7777</span>
          </div>
          <div>
            <span>E-mail:</span><span style="margin-left: 5px;">compressor63@mail.ru</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; height: 50px; float: right; vertical-align: middle; margin-right: 30px;">
          <a style="padding: 0 15px; color: white; cursor: pointer;" popover-placement="bottom" popover-template="'templates/profile_actions.html'">
            <span class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>Профиль
          </a>

          <a class="cart-info full" ng-if="!currentCart.loading" ng-href="#/cart" style="padding: 0 15px; color: white;">
            <span class="glyphicon glyphicon-shopping-cart"></span> Корзина: ({{currentCart.totalQuantity()}})
            <span class="amount">{{currentCart.itemTotal}} ₽</span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
