<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav sections-list" data-hook>
      <li><%= link_to Spree.t(:home), '#/' %></li>
      <li><%= link_to Spree.t(:products), '#/catalog' %></li>
      <li><%= link_to Spree.t(:services), '#/services' %></li>
      <li><%= link_to Spree.t(:information), '#/info' %></li>
      <li><%= link_to Spree.t(:payment_alt), '#/payments_info' %></li>
      <li><%= link_to Spree.t(:delivery), '#/delivery' %></li>
      <li><%= link_to Spree.t(:contacts), '#/contacts' %></li>
    </ul>
  </div>
</nav>
