<div id="products-display-manager" ng-show="showDisplayManager">
  <div class="panel panel-default">
    <div style="width: 100%;">
      <div class="products-sort" style="display: flex; float: left; align-items: center; height: 50px; margin-left: 15px;">
        <span>Сортировать по</span>

        <div class="btn-group" style="margin-left: 15px;">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{defaultSortType.label}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="sortType in sortTypes track by $index">
              <a ng-click="changeSortType($index)" href="javascript:void(0)">{{sortType.label}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div style="float: right;">
        <span style="margin-right: 15px;">Вид каталога</span>

        <div class="btn-group" role="group">
          <button type="button" ng-click="changeViewType(0)" class="btn btn-default glyphicon glyphicon-th view-type -left" ng-class="{'-selected': viewType == 'grid'}"></button>
          <button type="button" ng-click="changeViewType(1)" class="btn btn-default glyphicon glyphicon-th-list view-type" ng-class="{'-selected': viewType == 'extendedList'}"></button>
          <button type="button" ng-click="changeViewType(2)" class="btn btn-default glyphicon glyphicon-align-justify view-type -right" ng-class="{'-selected': viewType == 'list'}"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="products-pager" ng-show="showProductsPager">
  <div style="padding-bottom: 10px; border-bottom: 1px solid #ddd; display: table; width: 100%;">
    <div class="page" style="float: left;">
      <span>Товаров на странице</span>

      <ui-slider class="ui-slider-default" min="1" max="20" step="1" style="margin-left: 5px; display: inline-block; vertical-align: -7px; width: 150px;">
        <ui-slider-thumb ng-model='perPage'></ui-slider-thumb>
      </ui-slider>

      <button class="btn btn-primary btn-sm" type="button" ng-click="applyFiltersAndSort()" style="margin-left: 10px;">
        Применить <span class="badge">{{perPage}}</span>
      </button>
    </div>
    <!-- products.total_count > perPage -->
    <div id="products-pagination" ng-show="showProductsPagination" style="float: right; margin-top: 1px;">
      <pagination total-items="totalCount" ng-model="currentPage"
                  ng-change="changePageNumber()" items-per-page="perPageForPagination"
                  max-size="paginationMaxSize" class="pagination-sm"
                  boundary-links="true" rotate="false" num-pages="numPages"
                  previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
  </div>
</div>

<div id="loader" ng-show="showLoader">
  <div id="loader_1" class="loader">
  </div>
  <div id="loader_2" class="loader">
  </div>
  <div id="loader_3" class="loader">
  </div>
  <div id="loader_4" class="loader">
  </div>
  <div id="loader_5" class="loader">
  </div>
  <div id="loader_6" class="loader">
  </div>
  <div id="loader_7" class="loader">
  </div>
  <div id="loader_8" class="loader">
  </div>
</div>

<div id="products" class="row" ng-switch="viewType" ng-show="showProducts" data-hook style="margin-bottom: 100px; padding-left: 30px; padding-right: 30px;">
  <div ng-repeat="product in products.products" ng-switch-when="grid" class="product-list-item test -grid" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
    <div>
      <div style="height: 150px; overflow: hidden; width: 100%; display: flex; justify-content: center; background: azure;">
        <img ng-src="{{product.small_url}}"/>
      </div>
      <div class="product-name" style="background: #EA2D47; padding: 10px 15px;">
        <div style="text-align: center;">
          <a itemprop="name" style="font-size: 18px; font-weight: 400; color: white; text-decoration: none;">
            {{product.name}}
          </a>
        </div>

        <div style="display: table; margin-top: 30px; table-layout: fixed; width: 100%;">
          <div class="product-price" style="color: white; font-weight: 400; display: table-cell;">
            {{product.display_price}}
          </div>

          <div class="product-stars" style="display: table-cell; float: right; vertical-align: middle;">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>
        </div>
      </div>
      <div class="product-properties">
        <div class="product-property">
          <div class="product-property-label">Производительность:</div>
          <div class="product-property-value">{{product.properties.performance}} л/мин</div>
        </div>
        <div class="product-property">
          <div style="font-size: 14px;">Давление:</div>
          <div class="product-property-value">{{product.properties.pressure}} Бар</div>
        </div>
        <div class="product-property">
          <div style="font-size: 14px;">Мощность:</div>
          <div class="product-property-value">{{product.properties.power}} кВт</div>
        </div>
      </div>
      <div class="product-actions" style="display: table; width: 100%;">
        <div class="product-links" style="display: table-cell; vertical-align: middle;">
          <a href="#"><span class="glyphicon glyphicon-heart"></span><span style="border-bottom: 1px dashed black; margin-left: 5px;">К сравнению</span></a>
          <a href="#" style="margin-left: 10px;"><span class="glyphicon glyphicon-plus"></span><span style="border-bottom: 1px dashed black; margin-left: 5px;">В закладки</span></a>
        </div>
        <div class="product-add-to-cart" style="display: table-cell; float: right; margin-top: 4px;">
          <a href="javascript:void(0)" class="btn btn-default" ng-click="addToCart(product.variand_id)"><span class="glyphicon glyphicon-ok"></span>
            Купить</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-repeat="product in products.products" ng-switch-when="list" class="product-list-item -list" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
    <div style="display: table; width: 100%;">
      <div style="display: table-cell; vertical-align: middle;">
        <div class="product-sku well" style="display: inline-block; padding: 5px 10px;">
          <span class="product-sku-label">Арт.</span>
          <span class="product-sku-value">{{product.sku}}</span>
        </div>
        <div class="product-name">
          {{product.name}}
        </div>
      </div>
      <div class="product-right-block" style="display: table-cell; float: right;">
        <div class="product-price" style="display: inline-block;">
          {{product.display_price}}
        </div>

        <a href="javascript:void(0)" class="product-add-to-cart btn btn-default" ng-click="addToCart(product.variant_id)">
          <span class="glyphicon glyphicon-ok"></span> Купить
        </a>

        <div class="product-links" style="display: inline-block;">
          <a href="#"><span class="glyphicon glyphicon-list-alt"></span><span style="border-bottom: 1px dashed black; margin-left: 5px;">К сравнению</span></a>
          <br>
          <a href="#"><span class="glyphicon glyphicon-plus"></span><span style="border-bottom: 1px dashed black; margin-left: 5px;">В закладки</span></a>
        </div>
      </div>
    </div>
  </div>
  <div ng-repeat="product in products.products" ng-switch-default class="product-list-item -extendedList" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
    <div class="panel panel-default product-item">
      <div class="panel-heading">
        <a itemprop="name" style="font-size: 18px;">
          {{product.name}}
        </a>

        <div class="product-stars">
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </div>
      </div>
      <div class="panel-body text-center product-body" style="display: table;">
        <div class="product-gallery">
          <div class="product-gallery-item" ng-bind-html="product.images.small"></div>
        </div>
        <div class="product-desc">
          <div>
            {{product.description}}
          </div>
          <div style="display: table; width: 100%; margin-top: 10px;">
            <div style="display: table-cell;">
              <div style="font-size: 14px;">Производительность:</div>
              <div style="font-size: 19px;">{{product.properties.performance}} л/мин</div>
            </div>
            <div style="display: table-cell;">
              <div style="font-size: 14px;">Давление:</div>
              <div style="font-size: 19px;">{{product.properties.pressure}} Бар</div>
            </div>
            <div style="display: table-cell;">
              <div style="font-size: 14px;">Мощность:</div>
              <div style="font-size: 19px;">{{product.properties.power}} кВт</div>
            </div>
          </div>
        </div>
        <div class="product-buy">
          <div class="product-price">
            {{product.display_price}}
          </div>
          <div class="product-status">Под заказ</div>
          <div class="product-links">
            <a href="#"><span class="glyphicon glyphicon-heart"></span><span style="border-bottom: 1px dashed black; margin-left: 5px;">К сравнению</span></a>
            <br>
            <a href="#"><span class="glyphicon glyphicon-plus"></span><span style="border-bottom: 1px dashed black; margin-left: 5px;">В закладки</span></a>
          </div>
          <div class="product-add-to-cart">
            <a href="javascript:void(0)" class="btn btn-default" ng-click="addToCart(product.variant_id)">
              <span class="glyphicon glyphicon-ok"></span> Купить
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger products-error" ng-show="!showLoader && !showProducts">
  Товаров не найдено
</div>