<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<div ng-switch="selectedSection">
  <nav id="taxonomies" ng-switch-when="catalog" class="sidebar-item" data-hook ng-controller="CatalogCtrl">
    <% @taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, max_level] do %>
            <h4 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4>

            <div class="panel-group" id="accordion">
              <% taxonomy.root.children.each_with_index do |taxon, index| %>
                  <div class="panel panel-default -sidebar">
                    <% if taxon.children.size > 0 %>
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <div data-toggle="collapse" data-parent="#accordion">
                              <a ng-href="#/t/<%= taxon.permalink %>"><%= taxon.name %></a>
                            </div>
                          </h4>
                        </div>
                        <div id="collapse-<%= taxon.id %>" class="panel-collapse collapse" ng-class="{in: parentTaxonPermalink && parentTaxonPermalink == '<%= taxon.permalink %>' && taxonNotClicked}">
                          <div class="panel-body">
                            <ul class="list-group">
                              <% taxon.children.each do |child| %>
                                  <li class="list-group-item">
                                    <a ng-href="#/t/<%= child.permalink %>"><%= child.name %></a>
                                  </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                    <% else %>
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a ng-href="#/t/<%= taxon.permalink %>"><%= taxon.name %></a>
                          </h4>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
  </nav>
  <nav ng-switch-when="services" ng-controller="ServicesCtrl" class="sidebar-item">
    <div class="panel-group">
      <div class="panel panel-default -sidebar" ng-repeat="servicesSection in servicesSections">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a>{{servicesSection}}</a>
          </h4>
        </div>
      </div>
    </div>
  </nav>
  <nav ng-switch-when="info" ng-controller="InformationCtrl">
    <div class="panel-group">
      <div class="panel panel-default -sidebar" ng-repeat="infoSection in infoSections">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a>{{infoSection}}</a>
          </h4>
        </div>
      </div>
    </div>
  </nav>
  <nav ng-switch-default>
    <% @taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, max_level] do %>
            <h4 class='taxonomy-root'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4>

            <div class="panel-group" id="accordion">
              <% taxonomy.root.children.each_with_index do |taxon, index| %>
                  <div class="panel panel-default -sidebar">
                    <% if taxon.children.size > 0 %>
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <div data-toggle="collapse" data-parent="#accordion">
                              <a ng-href="#/t/<%= taxon.permalink %>"><%= taxon.name %></a>
                            </div>
                          </h4>
                        </div>
                        <div id="collapse-<%= taxon.id %>" class="panel-collapse collapse" ng-class="{in: parentTaxonPermalink && parentTaxonPermalink == '<%= taxon.permalink %>' && taxonNotClicked}">
                          <div class="panel-body">
                            <ul class="list-group">
                              <% taxon.children.each do |child| %>
                                  <li class="list-group-item">
                                    <a ng-href="#/t/<%= child.permalink %>"><%= child.name %></a>
                                  </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                    <% else %>
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a ng-href="#/t/<%= taxon.permalink %>"><%= taxon.name %></a>
                          </h4>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
  </nav>
</div>